
<div class="row align-items-center">
  <div class="col">
    <h1 class="display-1">Orders </h1>
  </div>
  <div class="col">
    <button class="btn btn-success btn-lg" (click)="open(addOrder)">New Order</button>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date Placed</th>
      <th scope="col">Due Date</th>
      <th scope="col">Products</th>
      <th scope="col">Customer</th>
      <th scope="col">Completed</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{order.dueDate}}</td>
      <td>{{order.datePlaced}}</td>
      <td>
        <ul>
          <li *ngFor="let prod of order.products">{{prod.name}}</li>
        </ul>
      </td>
      <td>{{order.customer.firstName}} {{order.customer.lastName}}</td>
      <td>{{order.completed}}</td>
      <td><button class="btn btn-danger">X</button></td>
    </tr>
  </tbody>
</table>

<ng-template #addOrder let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Order</h4>
    <button type="button" class="btn btn-outline-dark" aria-label="Close" aria-hidden="true" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!-- /////////////////////////////// DUE DATE ////////////////////////////////////// -->
    <label for="dueDate" class="form-label">Due Date</label>
    <input type="date" class="form-control" name="dueDate" id="dueDate" [(ngModel)]="newOrder.dueDate">

    <!-- /////////////////////////////// CUSTOMER ////////////////////////////////////// -->
    <label for="customer" class="form-label">Customer</label>
    <select class="form-select" aria-label="Default select example" [(ngModel)]="newOrder.customer">
      <option value="{{cust}}" *ngFor="let cust of customers">{{cust.firstName}} {{cust.lastName}}</option>
      <option selected>New Customer</option>
    </select>

    <!-- /////////////////////////////// PRODUCT 1 ////////////////////////////////////// -->
    <div class="row">
      <div class="col">
        <label for="product1" class="form-label">Product 1</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="newOrder.reqProducts[0].id.prodId">
          <option value="{{null}}"></option>
          <option value="{{prod.id}}" *ngFor="let prod of products">{{prod.name}}</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label">Units</label>
        <input type="number" min="0" class="form-control" [(ngModel)]="newOrder.reqProducts[0].unitsOrdered">
      </div>
  </div>

    <!-- /////////////////////////////// PRODUCT 2 ////////////////////////////////////// -->
    <div class="row">
      <div class="col">
        <label for="product2" class="form-label">Product 2</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="newOrder.reqProducts[1].id.prodId">
          <option value="{{null}}"></option>
          <option value="{{prod.id}}" *ngFor="let prod of products">{{prod.name}}</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label">Units</label>
        <input type="number" min="0" class="form-control" [(ngModel)]="newOrder.reqProducts[1].unitsOrdered">
      </div>
  </div>

    <!-- /////////////////////////////// PRODUCT 3 ////////////////////////////////////// -->
    <div class="row">
      <div class="col">
        <label for="product3" class="form-label">Product 3</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="newOrder.reqProducts[2].id.prodId">
          <option value="{{null}}"></option>
          <option value="{{prod.id}}" *ngFor="let prod of products">{{prod.name}}</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label">Units</label>
        <input type="number" min="0" class="form-control" [(ngModel)]="newOrder.reqProducts[2].unitsOrdered">
      </div>
  </div>

    <!-- /////////////////////////////// PRODUCT 4 ////////////////////////////////////// -->
    <div class="row">
      <div class="col">
        <label for="product4" class="form-label">Product 4</label>
        <select class="form-select" aria-label="Default select example" [(ngModel)]="newOrder.reqProducts[3].id.prodId">
          <option value="{{null}}"></option>
          <option value="{{prod.id}}" *ngFor="let prod of products">{{prod.name}}</option>
        </select>
      </div>
      <div class="col">
        <label class="form-label">Units</label>
        <input type="number" min="0" class="form-control" [(ngModel)]="newOrder.reqProducts[3].unitsOrdered">
      </div>
  </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click'); createOrder()">Add</button>
  </div>
</ng-template>

